<p id="notice"><%= notice %></p>

<h2><%= @question.title %> </h2>
<p>
  <%= @question.body %>
</p>

<% if not @question.responses.empty? %>
	<h3> Responses: </h3>
	<div class="responses">
		<% @question.responses.each do |response| %>
			<%= response.body %> <br />
			<%= link_to 'Edit', edit_response_path(response) %>
			<br /> <br />
		<% end %>
	</div>
<% else %>
	<p> There are no responses to this question </p>
<% end %>

<%= link_to 'Respond to this Question', new_response_path %> <br />


<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Destroy', @question,
	 :confirm => 'Are you sure?', :method => :delete %> |
<%= link_to 'Back', course_path(@course) %>
