<p id="notice"><%= notice %></p>

<p>
  <b>Qid:</b>
  <%= @response.qid %>
</p>

<p>
  <b>Body:</b>
  <%= @response.body %>
</p>


<%= link_to 'Edit', edit_response_path(@response) %> |
<%= link_to 'Back', responses_path %>
